.form1 {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 400px;
}
.form1 h2 {
  font-weight: normal;
  font-size: 20px;
}
.bug-exp-bal {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
}
img {
  width: 150px;
  height: 100px;
}
